@charset "utf-8";
/* CSS Document */

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
        display: block;
    }

* {
	border: 0px;
	margin: 0px;
	padding: 0px;
    }
	
html, body {
	background-color:#20a6e4;
	color:#005dac;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	margin:0;
	padding:0;
	height: 100%; 
	}
h1 {
	color:#0F87EA;
	font-size:1.500em;/*24px*/
	}
h2 {
	color:#0F87EA;
    font-size:1.375em;/*22px*/
	}
h3 {
	color:#0F87EA;
	font-size:1.250em;/*20px*/

	}
h4 {
	color:#0F87EA;
   font-size:1.125em;/*18px*/
	}


table {
	border-collapse: separate;
    border-spacing: 0;
}

a:link {
	color: #20a6e4;
	cursor:pointer;
    text-decoration: none;
}
a:hover {color: #91d3f2;}
a:visited {
	color: #91d3f2;
}
a:active {color: #91d3f2;}

input[type="text"] {
	border: none;
	color:#fff;
	background:#96d6f1;
/*	-webkit-box-shadow: inset 2px 2px 3px 0px rgba(0, 0, 0, 0.2);
        box-shadow: inset 2px 2px 3px 0px rgba(0, 0, 0, 0.2);*/
}
input[type="text"]:hover {
	color: #fff;
}
input[type=checkbox] {
	display: inline-block;
	font-size: 0.938em; /*15*/
	line-height: 1em;
	margin: 0 0.25em 0 0;
	padding: 0;
	width: 1.25em;
	height: 1.25em;
	border:1px solid #000;
	background:#96d6f1;
	-webkit-border-radius: 0.25em;
	vertical-align: text-top;
}
select {
    background: #96d6f1;
    color:#888;
    cursor:pointer;
	width: 1.25em;
}
/*class*/
.boxContenido {
	padding-top:5px; 
	width:100%; 
	height:auto;
	}
.BoxIngreso {
    margin: 0 auto;
    max-width: 18em;
	padding:0 2.5em;
    position: relative;
	text-align:center;
}
.BoxlogoInterna {
    margin: 0 auto;
    max-width: 300px;
	padding:0 10px;
    position: relative;
	text-align:center;
}
.BoxTemas {
    margin:0 auto;
    max-width: 530px;
	padding:0;
	position: relative;
	text-align:center;
	display:block;
}
.boxIngGeneral {
	 width:95%; 
	 display:inline-block; 
	 margin:5px 0; 
	}

.btnGeneral {
	background: #035a97; /* Old browsers */
	background: -moz-linear-gradient(top,  #6ac2fd 0%, #5ba2d3 48%, #2d85c1 49%, #035b98 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6ac2fd), color-stop(48%,#5ba2d3), color-stop(49%,#2d85c1), color-stop(100%,#035b98)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #6ac2fd 0%,#5ba2d3 48%,#2d85c1 49%,#035b98 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #6ac2fd 0%,#5ba2d3 48%,#2d85c1 49%,#035b98 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #6ac2fd 0%,#5ba2d3 48%,#2d85c1 49%,#035b98 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #6ac2fd 0%,#5ba2d3 48%,#2d85c1 49%,#035b98 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6ac2fd', endColorstr='#035b98',GradientType=0 ); /* IE6-9 */
    -webkit-border-radius: 5px; 
	border-radius: 5px;
     -webkit-box-shadow:  0px 2px 2px 2px rgba(0, 0, 0, 0.2);
     box-shadow:  0px 2px 2px 2px rgba(0, 0, 0, 0.2);
    color: #FFF !important;
    padding: 5px 14px;
	margin:5px 0;
    text-shadow: 0px 2px #15517a;
	display:inline-block;
    transition: all 0.3s ease 0s;
	}
.btnGeneral:hover{
    -webkit-border-radius: 10px; 
	border-radius: 10px;
    color: #dcebf5 !important;
	}
.btnFlotGenDer {
	float:right;
	}
.btnFlotGenIzq {
	float: left;
	}
.btnImgPrincipalFleDer {
	width:20px;
	height:29px;
	position:absolute;
	display:block;
	margin:5px;
	padding:5px;
	top:40%;
	right:0;
	z-index:5;
	}
.btnImgPrincipalFleDer img {
	width:100%;
	height:auto;
	}
.btnImgPrincipalFleIzq {
	width:20px;
	height:29px;
	display:block;
	position:absolute;
	margin:5px;
	padding:5px;
	top:40%;
	left:0;
	z-index:5;
	}
.btnImgPrincipalFleIzq img {
	width:100%;
	height:auto;
	}
.imaProductoPrin {
	/*width:100%;*/
    width:100%;
    display: inline-block;
	}
.boxIngPrin {
	 width:100%; 
	 display:inline-block; 
	 margin:0 0 5px 0;
	 padding:10px 0; 
	 background:#ffffff; 
     /*-webkit-border-radius: 10px; 
	 border-radius: 10px;*/
	 -webkit-box-shadow:  0px 4px 2px 2px rgba(0, 0, 0, 0.2);
     box-shadow:  0px 4px 2px 2px rgba(0, 0, 0, 0.2);
	 color:#FFF;
	}
.boxIngPrinPais {
	 width:100%; 
	 display:inline-block; 
	 margin:0 0 5px 0;
	 padding:10px 0 5px 0; 
	 background:#ffffff; 
     /*-webkit-border-radius: 10px; 
	 border-radius: 10px;*/
	 -webkit-box-shadow:  0px 4px 2px 2px rgba(0, 0, 0, 0.2);
     box-shadow:  0px 4px 2px 2px rgba(0, 0, 0, 0.2);
	 color:#FFF;
	}
.boxfrace1 {
	background-color:#FFF;  
	font-size:0.875em;   
	padding:10px 3px; 
	margin:2px 0;
	color:#20a6e4;
	}
.boxfrace2 {
	background-color:#FFF;  
	font-size:0.875em;   
	padding:10px 3px; 
	margin:2px 0;
	color:#20a6e4;
	}

.btnIngresar {
	color:#20a6e4;
	background-color:#FFF;
	cursor:pointer;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#d6d4d5',GradientType=0 ); /* IE6-9 */
    text-shadow: 0px 2px #FFF;
	text-decoration: none;
	font-weight:bold;
	font-size:1em;
	display:inline-block;
	width:97%;
	margin:5px 0 10px 0;
	padding:5px 0;
}
.btnIngresar:hover {
	color:#1683b5;
	background-color:#f8f8f8;
	width:90%;
    font-weight: normal;
}
.boxOlvContr {
	font-size:13px; 
	padding:2px 0;
	}
.boxCrear {
	padding:5px 0;
	}
.boxBtnCategorias {
	width:49.5%; 
	display:inline-block; 
	vertical-align:top;
	}
.boxBtnCategorias img {
	width:100%;
	height:auto;
	}
.boxBtnInfcatego {
	
	}
.boxBtnCategoriasInt {
	width:24.2%; 
	display:inline-block; 
	vertical-align:top;
	}
.boxBtnCategoriasInt img {
	width:100%;
	height:auto;
	}
.boxProductosImg {
	background-color:#FFF; 
	width:100%; 
	height:auto; 
	position:relative; 
	display:block;
	}
.boxCategoriaBtn {
	display:table;
	
	}
.boxbtnPrinVolver {
	display: inline-block;
	vertical-align: top;
	width:13.5%;
	height:auto;
	float:left;
	}
.boxbtnPrinVolver img {
	width:100%;
	height:auto;
	display:block;
	}
.boxbtnPrinMenu {
	display: inline-block;
	vertical-align: top;
	width:13.5%;
	height:auto;
	float:right;
	}
.boxbtnPrinMenu img {
	width:100%;
	height:auto;
	display:block;
	}
.boxbtnPrinSupCate {
	display: inline-block;
	vertical-align: top;
	width:70.5%;
	height:auto;
	}
.boxbtnPrinSupCate img {
	display: inline-block;
	width:19%;
	height:auto;
	vertical-align:top;
	}
.inpuTexlabel{
	font-size:1em !important;
	padding:0.5em 0 0 0;
	width:90%;
	color:#20a6e4;
	margin:0 auto;
	text-align:left;
	}
.inpuSelec {
	font-size:1.125em;
	padding:7px 5px;
	width:90%;
	margin:0 0 4px 0;
	}
.inpuTexGene {
	font-size:1.125em;
	padding:7px 5px;
	width:90%;
	margin:0 0 4px 0;
	}
.inpuTexTop {
	font-size:1.125em;
	padding:7px 5px;
	width:90%;
	margin:20px 0 1px 0;
	-webkit-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
	}
.inpuTexCenter {
	font-size:1.125em;
	padding:7px 5px;
	width:90%;
	margin:1px 0;
	-webkit-border-radius: 0;
    border-radius: 0;
	}
.inpuTexPie {
	font-size:1.125em;
	padding:7px 5px;
	width:90%;
	margin:1px 0 20px 0;
	-webkit-border-radius: 0px 0px 10px 10px;
    border-radius: 0px 0px 10px 10px;
	}

.ingFb {
	width:100%;
	height:auto;
	display:inline-block; 
	padding:8px 0; 
	background:#d1edf9; 
	margin:1px 0; 
	}
.ingFb img {
	width:90%;
	max-width:250px;
	min-width:100px;
	height:auto;
	}
	
.logoCityLinkPrin {
	 width:100%; 
	 display:inline-block; 
	}
.logoCityLinkPrin img {
	width:100%;
	height:auto;
	margin:0 0 -5px 0;
	
	}
.logoCityLinkSolo {
	 width:100%; 
	 display:inline-block;
	}
.logoCityLinkSolo img {
	width:100%;
	height:auto;
	margin:0;
	}
.logoCityLinkComple {
	 width:100%; 
	 display:inline-block;
	 padding:0 0 105px 0;
	 background-image: url(../images/fondoCiudad.png);
	 background-position:bottom center;
	 background-repeat:no-repeat;
	 background-size:100% auto;
	}
.logoCityLinkComple img {
	width:100%;
	height:auto;
	margin:0;
	}
.logoCityBanderas {
	 width:100%; 
	 display:inline-block;
	}
.logoCityBanderas img {
	width:100%;
	height:auto;
	margin:0;
	}
.lineaPrin {
	height:1px; 
	width:100%; 
	background:#FFF;
	}
.buscarLcion {
	font-size:0.875em;
	padding:7px 5px;
	color:#FFF;
	width:90%;
	text-align:left;
	-webkit-border-radius:10px;
	background-color:#2aabe4;
	background-position:right center;
	background-repeat:no-repeat;
	display: inline-block;
	
	}
a.buscarLcion {
	color:#FFF;
	}
.buscarLcion:hover {
	color:#c5ebfc;
	background-color:#1ea6e2;
	}
.listLcion {
  list-style-type: none;
  margin: 10px 0;
  padding: 0;
	}
.listLcion li {
  list-style-type: none;
  margin: 1px 0;
  padding: 0;
	}
img{
	width:100%;
}
